* {
  position: relative;
  top: 0px;
}
* {
  margin: 0%;
}
body {
  background-color: lightcyan;
}
.backgroundsoverlay {
  background-image: url("../Resources/de.jpg");
  width: 100vw;
  height: 100vh;
  position: fixed;
  transform: translateZ(0);
  z-index: -1;
  margin-left: 0px;
  margin-top: 0px;
  background-position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
}
.garth {
  display: flex;
  flex-wrap: nowrap;
}
.p1 {
  word-spacing: 3px;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  color: black;
  padding: 20px;
  margin-right: -20px;
  margin: 50px 0px;
  background-color: white;
}
.dev {
  display: flex;
  flex-wrap: nowrap;
}
.p2 {
  word-spacing: 3px;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  color: black;
  padding: 20px;
  margin-right: -20px;
  background-color: white;
}
.sanny {
  display: flex;
  flex-wrap: nowrap;
}
.p3 {
  word-spacing: 3px;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  color: black;
  padding: 20px;
  margin-right: -20px;
  margin: 50px 0px;
  background-color: white;
}
h2 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: goldenrod;
}
.nicole {
  display: flex;
  flex-wrap: nowrap;
}
.p4 {
  word-spacing: 3px;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  color: black;
  padding: 20px;
  margin-right: -20px;
  margin: 40px 0px;
  background-color: white;
}
.david {
  display: flex;
  flex-wrap: nowrap;
}
.p5 {
  word-spacing: 3px;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  color: black;
  padding: 20px;
  margin-right: -20px;
  margin: 40px 0px;
  background-color: white;
}
.priyanka {
  display: flex;
  flex-wrap: nowrap;
}
.p6 {
  word-spacing: 3px;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  color: black;
  padding: 20px;
  margin-right: -20px;
  margin: 40px 0px;
  background-color: white;
}
.abhishek {
  display: flex;
  flex-wrap: nowrap;
}
.p7 {
  word-spacing: 3px;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  color: black;
  padding: 20px;
  margin-right: -20px;
  margin: 40px 0px;
  background-color: white;
}
.divian {
  display: flex;
  flex-wrap: nowrap;
}
.p8 {
  word-spacing: 3px;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  color: black;
  padding: 20px;
  margin-right: -20px;
  margin: 40px 0px;
  background-color: white;
}
.mara {
  display: flex;
  flex-wrap: nowrap;
}
.p9 {
  word-spacing: 3px;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  color: black;
  padding: 20px;
  margin-right: -20px;
  margin: 10px 0px;
  background-color: white;
}
